.bannerWrapper {
  margin-bottom: 3.5rem;
  transition: all 0.4s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;

  &:hover {
    & .bannerTitle {
      color: var(--blue-middle);
    }

    & .bannerImage {
      transform: scale3d(1.05, 1.05, 1.05);
      // opacity: 0.92;
    }
  }

  // acessibilidade
  &:focus {
    border: 2px solid darkgoldenrod;
  }

  @media screen and (min-width: 690px) {
    margin: 0 1rem;
  }
}

.bannerImage {
  transition: all 0.5s;
  backface-visibility: hidden;
}

// correção de um aparente bug no next/image
.imageWrapper {
  margin-bottom: -1px;
  & div:first-child {
    display: block !important;
  }
}

.bannerFooter {
  background: linear-gradient(
    to right,
    var(--blue-dark) 0 2%,
    var(--blue) 2% 100%
  );
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
}

.bannerTitle {
  margin-bottom: 0;
  color: var(--blue-dark);
  overflow: hidden;
  transition: color 0.5s;

  // é uma opção colocar elipse e não deixar quebrar pra segunda linha o título do jogo, mas por enquanto deixei assim

  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.title__line {
  height: 1.6px;
  flex-grow: 1;
  background-color: var(--blue-dark);
  margin-left: 10px;
}
