.sliderImage {
  height: 520px;
  max-height: 80vh;
  position: relative;
  padding: 4rem 0;

  @media screen and (min-width: 1200px) {
    padding: 10rem 0;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  height: 100%;
}

.sliderImage__desktop {
  display: none !important;
}

//art-direction manual para o next/Image, que não aceita o srcset
@media screen and (min-width: 600px) {
  .sliderImage__desktop {
    display: block !important;
  }
  .sliderImage__mobile {
    display: none !important;
  }
}

.heroOverlay {
  text-align: right;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 2rem;
  padding-right: 3rem;
  background-color: rgba($color: #000000, $alpha: 0.65);

  @media screen and (min-width: 900px) {
    background: none;
    position: initial;
    // margin-right: 4rem;
    // left: 50%;
    // top: 50%;
    // transform: translate(-25%, -50%);
  }
}

.heroTitle,
.heroPrice {
  font-weight: 900;
  margin-bottom: 0;
}

.heroTitle {
  font-size: 3.25rem;
  text-transform: uppercase;
}

.heroPrice {
  color: var(--blue);
  font-size: 6rem;

  span {
    font-size: 3.5rem;
    vertical-align: text-top;
  }
}

.heroText {
  font-size: 1.5rem;
  margin-bottom: 0;
  text-align: right;
  max-width: 350px;
  float: right;

  @media screen and (min-width: 1200px) {
    max-width: 420px;
    font-size: 1.35rem;
  }
}

.sliderInfo {
  display: flex;
  h4 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    font-size: 1.8rem;

    @media screen and (min-width: 1200px) {
      font-size: 1.4rem;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: column;
    position: absolute;
    z-index: 333;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.sliderTitle {
  background-color: var(--blue);
  flex-basis: 60%;
  padding: 2rem 3rem;
  border-bottom-left-radius: 15px;

  @media screen and (min-width: 1200px) {
    padding: 0;
    writing-mode: vertical-lr;
    flex-basis: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    padding: 3rem 0;

    h4 {
      margin-bottom: 4rem;
    }
  }
}

.title__line {
  @media screen and (min-width: 1200px) {
    width: 2px;
    flex-grow: 1;
    background-color: var(--white);
    opacity: 0.7;
  }
}

.sliderControl {
  background-color: var(--blue-dark);
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 40%;

  @media screen and (max-width: 280px) {
    flex-direction: column;
    padding-left: 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 1.8rem 0.5rem;
    border-bottom-left-radius: 15px;
    flex-direction: column;
    flex-basis: initial;
  }
}

.sliderCounters {
  letter-spacing: 4px;

  @media screen and (min-width: 1200px) {
    h4 {
      margin-bottom: 1rem;
    }
  }
}

.sliderChevrons > * {
  @media screen and (min-width: 340px) and (max-width: 1199px) {
    margin: 0 1rem;
  }
}
