// position absolute para sobrepor com a imagem de fundo
.header {
  padding: 2rem 0;
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}

.panelLeft,
.panelRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

// controla até onde crescem pra não ficarem muito espaçados
.panelLeft {
  flex-basis: 49%;
  max-width: 170px;
}
.panelRight {
  flex-basis: 40%;
  max-width: 180px;
  min-width: 130px;
  // tamanho mínimo pra não ficar muito dif´ícil de selecionar no celular
}

.logoWrapper {
  margin-left: 10px;
  // não exibe quando a tela es´ta pequena demais
  @media screen and (max-width: 299px) {
    display: none;
  }
}
