.button {
  display: block;
  border: 0;
  cursor: pointer;
  background-color: var(--blue);
  padding: 0.9rem 5rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8rem;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    background-color: var(--blue-middle);
  }
}
