.button {
  display: block;
  border: 0;
  cursor: pointer;
  background-color: var(--blue);
  padding: 0.9rem 5rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8rem;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s;

  @media screen and (min-width: 1200px) {
    font-size: 1.6rem;
  }

  @media screen and (min-width: 1800px) {
    font-size: 1.35rem;
  }

  &:hover {
    background-color: var(--blue-middle);
  }
}

.buttonImg {
  position: absolute;
  bottom: 0;
  right: 5px;
  height: 70px;
}

.purchased {
  background-color: var(--blue-dark);
  text-align: left;
  position: relative;
  padding-left: 1.5rem;
  width: 190px;

  &:hover {
    background-color: var(--blue-dark);
  }
}
